<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./stylo.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <script src="https://cdnjs.com/libraries/Chart.js"></script>

    <title>Questionário</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/"> Questionário  </a>
    </nav>
    
    <script>
      console.log(d3);
    </script>

    <div>
      <h3 class="text-center" style="margin-top: 30px;"> Questionário Sobre Sua Empresa - Respotas de 1 à 5 onde 1 para muito insatifeito e 5 para muito insatisfeito </h3>
      <form class="text-center" action="/dados" method="POST">
        <div>
          <label for="empresa">Nome da sua Empresa</label> &nbsp;
          <input type="text" id="empresa" name="empresa"><br>
        </div>

        <!-- Começo de Questão 1 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 1. Suas Críticas e/ou Opiniões já foram ouvidas na Empresa que você trabalha. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q1" id="q1" value="1">
            <label class="form-check-label" for="q1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q1" id="q1" value="2">
            <label class="form-check-label" for="q1">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q1" id="q1" value="3">
            <label class="form-check-label" for="q1">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q1" id="q1" value="4">
            <label class="form-check-label" for="q1">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q1" id="q1" value="5">
            <label class="form-check-label" for="q1">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 2 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 2. É confortável o local que você fica. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q2" id="q2" value="1">
            <label class="form-check-label" for="q2">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q2" id="q2" value="2">
            <label class="form-check-label" for="q2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q2" id="q2" value="3">
            <label class="form-check-label" for="q2">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q2" id="q2" value="4">
            <label class="form-check-label" for="q2">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q2" id="q2" value="5">
            <label class="form-check-label" for="q2">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 3 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 3. Qual seu grau de satisfação com seu líder. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q3" id="q3" value="1">
            <label class="form-check-label" for="q3">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q3" id="q3" value="2">
            <label class="form-check-label" for="q3">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q3" id="q3" value="3">
            <label class="form-check-label" for="q3">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q3" id="q3" value="4">
            <label class="form-check-label" for="q3">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q3" id="q3" value="5">
            <label class="form-check-label" for="q3">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 4 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 4. Existe troca de experiências no seu setor. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q4" id="q4" value="1">
            <label class="form-check-label" for="q4">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q4" id="q4" value="2">
            <label class="form-check-label" for="q4">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q4" id="q4" value="3">
            <label class="form-check-label" for="q4">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q4" id="q4" value="4">
            <label class="form-check-label" for="q4">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q4" id="q4" value="5">
            <label class="form-check-label" for="q4">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 5 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 5. Existe capacitação e/ou manutenção de conhecimento na empresa que você trabalha. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q5" id="q5" value="1">
            <label class="form-check-label" for="q5">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q5" id="q5" value="2">
            <label class="form-check-label" for="q5">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q5" id="q5" value="3">
            <label class="form-check-label" for="q5">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q5" id="q5" value="4">
            <label class="form-check-label" for="q5">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q5" id="q5" value="5">
            <label class="form-check-label" for="q5">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Divisão entre boas e más opções -->
        <!-- Começo de Questão 6 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 6. Você sente que seu trabalho tem feito a diferença na empresa. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q6" id="q6" value="1">
            <label class="form-check-label" for="q6">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q6" id="q6" value="2">
            <label class="form-check-label" for="q6">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q6" id="q6" value="3">
            <label class="form-check-label" for="q6">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q6" id="q6" value="4">
            <label class="form-check-label" for="q6">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q6" id="q6" value="5">
            <label class="form-check-label" for="q6">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 7 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 7. Você sente confiança nas informações que são passadas no que diz respeito da empresa. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q7" id="q7" value="1">
            <label class="form-check-label" for="q7">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q7" id="q7" value="2">
            <label class="form-check-label" for="q7">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q7" id="q7" value="3">
            <label class="form-check-label" for="q7">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q7" id="q7" value="4">
            <label class="form-check-label" for="q7">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q7" id="q7" value="5">
            <label class="form-check-label" for="q7">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 8 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 8. Suas Críticas e/ou Opiniões já foram ouvidas na Empresa que você trabalha. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q8" id="q8" value="1">
            <label class="form-check-label" for="q8">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q8" id="q8" value="2">
            <label class="form-check-label" for="q8">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q8" id="q8" value="3">
            <label class="form-check-label" for="q8">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q8" id="q8" value="4">
            <label class="form-check-label" for="q8">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q8" id="q8" value="5">
            <label class="form-check-label" for="q8">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 9 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 9. Suas Críticas e/ou Opiniões já foram ouvidas na Empresa que você trabalha. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q9" id="q9" value="1">
            <label class="form-check-label" for="q9">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q9" id="q9" value="2">
            <label class="form-check-label" for="q9">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q9" id="q9" value="3">
            <label class="form-check-label" for="q9">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q9" id="q9" value="4">
            <label class="form-check-label" for="q9">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q9" id="q9" value="5">
            <label class="form-check-label" for="q9">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 10 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 10. Suas Críticas e/ou Opiniões já foram ouvidas na Empresa que você trabalha. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q10" id="q10" value="1">
            <label class="form-check-label" for="q10">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q10" id="q10" value="2">
            <label class="form-check-label" for="q10">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q10" id="q10" value="3">
            <label class="form-check-label" for="q10">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q10" id="q10" value="4">
            <label class="form-check-label" for="q10">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q10" id="q10" value="5">
            <label class="form-check-label" for="q10">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <!-- Começo de Questão 11 -->
        <div id="pergunta1"  style="margin-top: 50px;">
          <label> 11. Suas Críticas e/ou Opiniões já foram ouvidas na Empresa que você trabalha. </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q11" id="q11" value="1">
            <label class="form-check-label" for="q11">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q11" id="q11" value="2">
            <label class="form-check-label" for="q11">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q11" id="q11" value="3">
            <label class="form-check-label" for="q11">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q11" id="q11" value="4">
            <label class="form-check-label" for="q11">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="q11" id="q11" value="5">
            <label class="form-check-label" for="q11">5</label>
          </div>
        </div>
        <!-- Fim de Questão -->
        <button class=" btn btn-primary" type="submit" style="margin-top: 20px" > Enviar Dados </button>
      </form>
    </div>

    <footer>
      <p class="text-center" style="margin: 50px"> Disciplina: Gestão do Conhecimento <br> Equipe: Ângelo, Luiz, Alex e </p>
    </footer>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>